.axis path,
.axis line,
.tick line,
.line {
  fill: none;
  stroke: #808080;
  stroke-width: 1px;
}

.chart path {
  fill: none;
}

/**
* Chart titles
**/

.chart-title {
  text-align: center;
  font-family: Arvo;
  margin: 5px 0;
}

/**
* Legends
**/

text {
  font-size: .8em;
}

.legend-container {
  text-align: center;
}

.legend-item,
.legend-swatch,
.legend-label {
  display: inline-block;
}

.legend-item {
  margin: 0 12px;
}

.legend-swatch {
  width: 14px;
  height: 14px;
  margin-bottom: -1px;
}

.legend-label {
  margin-left: 3px;
}

/**
* Axes
**/

.no-axis-ticks .axis .tick line {
  display: none;
}

@media(max-width: 700px) {
  text {
    font-size: .7em;
  }
}

/**
* Points
**/

circle.point {
  stroke: rgba(31, 119, 180, 0.5);
  fill: rgba(31, 119, 180, 0.4);
  cursor: pointer;
  -moz-transition: r 0.2s;
  -o-transition: r 0.2s;
  -webkit-transition: r 0.2s;
  transition: r 0.2s;
}

/**
* Grid styles
**/

.grid {
  fill: #ffffff;
}

.grid line {
  stroke: #e6e5e5;
}

/**
* Brush styles
**/

.viewport {
  stroke: none;
  stroke-width: 1px;
  fill: #fff;
  fill-opacity: 0.2;
}

rect.extent {
  fill: #a6a5a5;
  opacity: 1;
  stroke: #c9c9c9;
}

/**
* Hide axis components
**/

.hide-x-axis g.x.axis,
.hide-x-axis g.x.axis .tick,
.hide-x-axis g.x.axis path.domain {
  display: none;
}

.hide-y-axis g.y.axis,
.hide-y-axis g.y.axis .tick,
.hide-y-axis g.y.axis path.domain {
  display: none;
}

.hide-x-axis-ticks g.x.axis .tick {
  display: none;
}

.hide-y-axis-ticks g.y.axis .tick {
  display: none;
}

/**
* Hide grid components
**/

.hide-x-grid .x.grid .tick {
  display: none;
}