/**
* Basic search filters
**/

.filters-container {
  background: #F8f8f8;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  position: fixed;
  top: 90px;
  z-index: 3;
  height: 60px;
  overflow: hidden;
}

.filters {
  display: inline-block;
  width: 1160px;
  position: relative;
}

.filter-fields {
  display: inline-block;
  margin: 3px;
}

.filter-label {
  font-weight: 600;
  font-size: .8em;
  color: #666666;
  display: inline-block;
  margin-right: 14px;
}

/**
* Result count
**/

.results-count {
  text-align: left;
  font-size:.8em;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 20px;
}

.results-count span {
  margin: 0 2px;
  font-weight: 600;
}

/**
* Button to close the compare view
**/

.close-compare-wrapper {
  position: absolute;
  right: 35px;
  top: 30px;
  cursor: pointer;
}

.close-compare {
  background: url(/assets/svg/close-icon.svg);
  width: 14px;
  height: 14px;
}