/**
* Footer styles
**/

.page-wrap {
  min-height: 100%;
  margin-bottom: -120px;
  background: #f8f8f8;
}

.push {
  height: 120px;
}

footer {
  height: 120px;
  background: #666666;
  color: #fff;
  display: table;
  text-align: center;
  width: 100%;
}

.footer-text {
  display: table-cell;
  vertical-align: middle;
}

.yale-mark {
  height: 54px;
  float: left;
  margin-left: 50px;
}

.experiment {
  float: right;
  margin-right: 55px;
  font-family: 'Yale Roman';
  color: #bababa;
}