/**
* Home styles
**/

.home {
  padding: 0 10%;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
  position: relative;
  top: 60px;
  max-width: 1600px;
}

.home-top {
  text-align: center;
}

.home-blocks {
  text-align: center;
}

.home-block {
  display: table-cell;
  margin: 3%;
  text-align: left;
  font-family: 'Yale Roman';
  font-size: 1.3em;
  color: #333333;
  width: 27%;
  height: auto;
  float: left;
  text-decoration: none;
}

.home-image {
  width: 100%;
  margin-bottom: 9px;
  height: 0;
  padding-bottom: 66%;
}

.home-image.popular-passages {
  background: url(../images/home/home-passage.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-image.popular-authors {
  background: url(../images/home/home-author.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-image.popular-books {
  background: url(../images/home/home-book.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}