* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 2px solid #6DD1D1;
  -webkit-box-shadow: 0px 0px 5px  #6DD1D1;
  box-shadow: 0px 0px 5px  #6DD1D1;
}

/**
* Containers
**/

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans';
}

#app,
.app-container {
  height: 100%;
}

.page-container {
  padding: 90px 0 90px;
  text-align: center;
  overflow: hidden;
  background: #F8F8F8;
  height: 100%;
  box-sizing: border-box;
}

/**
* Elements
**/

h1 {
  margin-top: 30px;
  font-family: Yale Roman;
  font-size: 2em;
}

h1 + div {
  margin: 25px;
  line-height: 1.4em;
}

input {
  padding: 12px;
  font-size: 15px;
  border: 1px solid lightgray;
  box-sizing: border-box;
}

/**
* Fonts
**/

@font-face {
  font-family: 'Yale Roman';
  src: url('../fonts/YaleNew-Roman.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Yale Bold';
  src: url('../fonts/YaleNew-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Yale Italic';
  src: url('../fonts/YaleNew-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Yale BoldItalic';
  src: url('../fonts/YaleNew-BoldItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/**
* Helpers
**/

.clear-both {
  clear: both;
}