/**
* Container for all results
**/

.results {
  background: #F8F8F8;
  width: 100vw;
  overflow: auto;
  text-align: center;
  padding-top: 70px;
}

/**
* Container for result pairs
**/

.result-pair-container {
  max-width: 1210px;
  display: inline-block;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.result-pair-container.fade-out {
  opacity: 0;
}

/**
* Container for each match pair
**/

.result-pair {
  width: 1210px;
  display: inline-block;
  text-align: left;
  position: relative;
  /* to support card animations */
  overflow-x: hidden;
}

/**
* Result pair animations
**/

.result-pair.animated .result.source {
  transform: translateX(-2000px);
}

.result-pair.animated .result.target {
  transform: translateX(2000px);
}

/**
* Similarity
**/

.similarity-circle {
  background: #bfbfbf;
  color: #fff;
  text-align: center;
  font-size: .85em;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: -24px;
  margin-top: -20px;
  border-radius: 20px;
  opacity: 1;
  transition: opacity 1s;
}

.result-pair:hover .similarity-circle {
  background: #6DD1D1;
}

.similarity-circle.fade-out {
  opacity: 0;
}

.similarity {
  position: relative;
  top: 10px;
}

/**
* Result cards
**/

.result {
  margin: 14px 40px;
  box-shadow: 2px 2px 2px #ddd;
  border: 1px solid lightgray;
  background: #fff;
  position: relative;
  width: 520px;
  transition: transform 1s ease, height 0.3s ease;
  max-height: 505px;
  display: inline-block;
  text-align: left;
}

.result-wrapper {
  height: 100%;
  /* to let .result overflow-x but hide overflow from card */
  position: relative;
}

.result-pair:hover .result-wrapper {
  outline: 3px solid #6DD1D1;
}

/**
* Card animations
**/

.result.source {
  left: 0;
  float: left;
}

.result.target {
  right: 0;
}

.match-pair.animated .result.source {
  left: -2000px;
}

.match-pair.animated .result.target {
  right: -2000px;
}

/**
* Result header
**/

.result-top {
  border-bottom: 1px solid #E0E0E0;
  overflow: hidden;
  height: 32px;
}

.result-title,
.result-year {
  display: inline-block;
  padding: 3px 12px;
}

.result-title {
  font-size: .9em;
  margin-top: 5px;
  color: #666666;
  max-width: calc(100% - 115px);
  overflow: hidden;
  white-space: nowrap;
  line-height: 1.2em;
  font-family: 'Open Sans';
  font-style: italic;
}

.result.target .result-title {
  float: right;
  text-align: right;
}

/**
* Result years
**/

.result-year-container {
  display: inline-block;
  background: #f4f4f4;
  padding: 3px 15px 3px 6px;
  height: 100%;
}

.result.source .result-year-container {
  float: right;
  transform: skew(38deg);
  margin-right: -15px;
}

.result.target .result-year-container {
  float: left;
  transform: skew(-38deg);
  margin-left: -15px;
}

.result-year {
  font-size: .9em;
  font-weight: 600;
}

.result.source .result-year {
  transform: skew(-38deg);
}

.result.target .result-year {
  transform: skew(38deg);
  position: relative;
  left: 6px;
}

.result.hovered .result-year-container {
  background: #6DD1D1;
  color: #fff;
}

/**
* Result card text content
**/

.result-body {
  position: absolute;
  top: 30px;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 24px;
  max-height: 100%;
  overflow: hidden;
}

.result-author {
  font-size: 1.5em;
  font-family: 'Yale Roman';
  color: #333333;
  margin-bottom: 15px;
}

.result-match {
  font-size: .9em;
  line-height: 1.6em;
  font-weight: 600;
}

.result-match .prematch,
.result-match .postmatch {
  color: #BABABA;
  font-weight: 400;
}

.result-match .match {
  color: #333;
}

.white-fade {
  position: absolute;
  bottom: 25px;
  height: 60px;
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  left: 0;
}

/**
* Result footer
**/

/* only needed to correct ff display bug */
.result-footer-container {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 28px;
}

.result-footer {
  display: table;
  width: 100%;
  text-align: center;
  background: #F8F8F8;
  padding: 5px 0;
  position: absolute;
  bottom: 0;
  height: 28px;
  box-sizing: border-box;
}

.result-footer div,
.result-footer a {
  display: table-cell;
  font-size: 13px;
  color: #BABABA;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  width: 25%;
}

.result .result-footer div:hover,
.result .result-footer a:hover {
  color: #333;
  /* to prevent font weight from changing widths */
  text-shadow: 0.01em 0 0 currentColor;
}

.result-footer img,
.result-footer svg {
  width: 10px;
  height: 10px;
  margin-right: 3px;
}

.result-footer-icon {
  fill: #bababa;
  transition: transform 1s;
}

/**
* Visualize icon
**/

.visualize rect {
  stroke: #F8F8F8;
  fill: #bababa;
}

/**
* Favorite icon
**/

.favorite.active {
  color: #E6583E;
}

@-webkit-keyframes swell {
  0% {transform: scale(1);}
  50% {transform: scale(1.2);}
  100% {transform: scale(1);}
}

@keyframes swell {
  0% {transform: scale(1);}
  50% {transform: scale(1.2);}
  100% {transform: scale(1);}
}

.favorite.active .favorite-icon {
  fill: #E6583E;
  animation-name: swell;
  animation-duration: .7s;
}

/**
* Result during compare state
**/

.compare.active {
  color: #F1A21A;
}

.compare.active .compare-icon {
  fill: #F1A21A;
}

/**
* Hovered result
**/

.result {
  outline: 2px solid rgba(256, 256, 256, 0);
}

.result.hovered {
  outline: 2px solid #6DD1D1;
  border: 1px solid #6DD1D1;
}

/**
* Hovered footer icons
**/

.read:hover path {
  fill: #714C0B;
}

.compare:hover rect,
.compare:hover path {
  fill: #F1A21A;
}

.favorite:hover path {
  fill: #E6583E;
}

.visualize:hover rect {
  fill: #6DD1D1;
}