/**
* Scatterplot
**/

.scatterplot-container {
  box-sizing: border-box;
  text-align: center;
  margin-bottom: -90px;
}

.scatterplot {
  width: 1000px;
  display: inline-block;
  margin-top: 60px;
}

.scatterplot select {
  height: 30px;
  font-size: .9em;
  margin: 0 10px;
  background: #fff;
  border-color: #dddddd;
}

.controls {
  text-align: center;
  margin: 50px 0 10px;
}

.jitter {
  display: inline-block;
  margin: 0 15px;
  font-size: .825em;
}

/**
* Left
**/

.scatterplot .left {
  float: left;
  display: inline-block;
  padding-right: 20px;
  border-right: 1px solid lightgray;
  margin-top: 10px;
  text-align: left;
}

.scatterplot .left .chart-legend {
  transform: scale(0.9);
}

.scatterplot .left .swatch-label {
  font-size: 0.825em;
  margin: 0 6px 0 50px;
}

/**
* Right
**/

.scatterplot .right {
  padding: 0 30px;
  display: inline-block;
  float: left;
  margin-top: 12px;
  text-align: left;
  font-size: 0.825em;
  max-width: 420px;
}

hr {
  margin-bottom: 10px;
}

.scatterplot-label {
  font-weight: 600;
  margin-bottom: 12px;
}

.book {
  margin: 7px 0;
}

.book-number {
  width: 20px;
  display: inline-block;
}

/**
* Loader
**/

.scatterplot .loader {
  margin-top: 200px;
}

/**
* Chart
**/

.scatterplot .domain {
  display: none;
}

.scatterplot rect {
  stroke: none;
  cursor: crosshair;
}

.scatterplot .viewport rect.extent {
  stroke: #c9c9c9;
}

.scatterplot text {
  font-size: 13px;
  font-weight: 300;
}

.scatterplot .x.axis text {
  transform: translateY(18px);
}

/**
* Control lower
**/

.controls-lower {
  padding: 35px 0;
}

.reset-button {
  transition: opacity .5s;
  opacity: 0;
  font-size: .9em;
  padding: 8px 16px;
  background: #6DD1D1;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  white-space: nowrap;
}

.reset-button.visible {
  opacity: 1;
}

/**
* Tooltip
**/

.tooltip {
  position: absolute;
  background: #fff;
  padding: 7px;
  text-align: left;
  border: 1px solid lightgray;
  box-shadow: 3px 3px 10px -1px #888888;
  font-size: 0.8em;
  font-family: Open Sans;
}

.tooltip .title {
  font-weight: 600;
}