/**
* Basic search slider
**/

.slider {
  display: inline-block;
}

.slider-label {
  display: inline-block;
  font-size: 0.8em;
  font-weight: 600;
  color: #a5a5a5;
}

.slider .rc-slider {
  width: 100px;
  display: inline-block;
  margin: 0 13px;
}

.slider .rc-slider-rail {
  height: 6px;
  background-color: #dcdcdc;
  top: 6px;
}

.slider .rc-slider-handle {
  border: 1px solid lightgray;
  box-shadow: 2px 2px 2px #888888;
  height: 16px;
  width: 16px;
  margin-left: -8px;
  transform: translateX(0) !important;
}

.slider .rc-slider-track {
  background-color: #a5a5a5;
  height: 6px;
  margin-top: 1px;
}

.slider .rc-slider-step {
  height: 6px;
}

.rc-slider-tooltip {
  z-index: 5;
}