/**
* Use type filter styles
**/

.use-type {
  display: inline-block;
  border-radius: 8px;
  border: 2px solid #EBEBEB;
  margin: 12px 50px;
  background: #EBEBEB;
}

.use {
  display: inline-block;
  font-size: .8em;
  font-weight: 600;
  padding: 5px 12px;
  border-radius: 8px;
  cursor: pointer;
  opacity: .3;
}

.use.active {
  background: #fff;
  opacity: 1;
  color: #666666;
}

.use:hover {
  color: #007171;
}

.use:nth-child(1) {
  border-right: 2px solid #EBEBEB;
}

.use:nth-child(1).active {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.use:nth-child(2).active {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}